* {
    margin: 0;
    padding: 0;
}

.container-all {
    width: 94%;
    margin: 0 auto;
}


.header {
    width: 90%;
    position: fixed;
    background-color:cadetblue;
    top: 0;
    border-radius: 50px 50px 0 0;
    padding: 14px;
}

.nav-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 14px;
}

.logo {
    font-size: 20px;
    font-weight: 700;
    font-family: 'Times New Roman', Times, serif;
}

.nav-list {
    display: flex;
    flex-direction: row;
    list-style: none;
    gap: 10px;
}

.nav-list a {
    text-decoration: none;
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 700;
    color: black;
}

.addLink {
    border-left: 2px solid green;
    border-right: 2px solid green;
    padding: 0 10px;
}

.main {
    width: 90%;
    margin-top: 50px;
   display: flex;
   justify-content: space-between;
}

.content {
    width: 60%;
    margin: 0 auto;
}

.list-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
}

.title-bar {
    font-family: 'Times New Roman', Times, serif;
    font-weight: 500;
    font-size: 30px;
    color: blue;
    margin: 30px;
}

.new-book-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
}

.add-form {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.title, .author {
    width: 50%;
    border: 1px solid green;
    border-radius: 10px;
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
    padding: 10px;
}

.add-btn {
    width: 60px;
    height: 40px;
    padding: 10px;
    margin-left: 300px;
    background-color: green;
    border: 0;
    border-radius: 10px;
    color: white;
}

.contact-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 10px;
    font-size: 16px;
}


.footer {
    background-color: brown;
    border-radius: 0 0 50px 50px;
    width: 90%;
    margin: 0 auto;
   position: absolute;
   bottom: 0;
   padding: 14px;
}

.footer p {
    font-size: 20px;
    padding-left: 10px;
    color: white;
}

.list-container, .new-book-container, .contact-container {
    display: none;
}

.book-item {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0 10px 30px;
  }
  
  .book-item button {
    background-color: brown;
    float: right;
    margin: 0 10px 0 50px;
    padding: 5px;
    color: white;
    border: 0;
  }
  
  .book-item button:hover {
    background-color: rgb(145, 145, 185);
    float: right;
    margin: 0 10px 0 50px;
    padding: 5px;
    color: yellow;
  }

  .light {
  background-color: rgb(138, 30, 233);
}

.error {
    width: 50%;
  color: white;
  background-color: red;
  padding: 10px;
  text-align: center;
  margin: 30px 0;
  border-radius: 10px;
}

.success {
    width: 50%;
    padding: 10px;
    color: white;
    text-align: center;
    border-radius: 10px;
    background-color: green;
    margin: 30px 0;
}

.white {
    background-color: lightgrey;
}

.remove-book {
    background-color: yellowgreen;
    color: #fff;
    padding: 10px;
    margin: 30px 0;
    text-align: center;
  }
